@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar {
  width: 100%;
  background-color: #b1dfa9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90px;
  padding: 10px;
}

.toolbar-content {
  flex-grow: 1;
  text-align: center;
  margin-right: 15%;
}
.button {
  color: black;
}
.title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: black;
  margin: 0px;
  text-align: center;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
  margin: 0px;
  text-align: center;
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.container--m {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 700;
  font-size: 23px;
  color: black;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}

#recyclable {
  background-color: #7ed07e;
}

#recyclable:hover {
  background-color: #589858;
}

#mixted {
  background-color: #c5c9ca;
}

#mixted:hover {
  background-color: #929fa2;
}

#compostable {
  background-color: #c2b37b;
}

#compostable:hover {
  background-color: #978b5e;
}

#hazardous {
  background-color: #ff8080;
}

#hazardous:hover {
  background-color: #bf6464;
}

.text {
  width: 50%;
}

.img {
  margin: auto;
  height: 100%;
}
