<div class="body-container">
  <div class="container--l" id="plastic">
    <p>Yellow Container</p>
    <input type="number" placeholder="Input Trash (kg)">
    <img />
  </div>
  <div class="container--r" id="paper">
    <p>Blue Container</p>
    <input type="number" placeholder="Input Trash (kg)">
    <img />
  </div>
  <div class="container--l" id="glass">
    <p>Green Container</p>
    <input type="number" placeholder="Input Trash (kg)">
    <img />
  </div>
  <div class="container--r" id="organic">
    <p>Grey Container</p>
    <input type="number" placeholder="Input Trash (kg)">
    <img />
  </div>
  <div class="container--l" id="photo">
    <p>Photo (Required)</p>
    <input type="file" required capture="user" accept="environment/*">
    <img />
  </div>
  <div class="container--s" id="submissionButton">
    <p>Submit</p>
    <img />
  </div>
</div>
