<div class="body-container">
  <div class="container--l" id="plastic">
    <p>Yellow Container</p>
    <p>15kg</p>
    <img />
  </div>
  <div class="container--r" id="paper">
    <p>Yellow Container</p>
    <p>15kg</p>
    <img />
  </div>
  <div class="container--l" id="glass">
    <p>Yellow Container</p>
    <img />
  </div>
  <div class="container--r" id="organic">
    <p>Yellow Container</p>
    <img />
  </div>
  <div class="container--s" id="submissionButton">
    <p>Submit</p>
    <img />
  </div>
</div>
