<ion-content [fullscreen]="true" class="page">
  <div class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        class="button"
        defaultHref="/"
        (click)="returnPage()"
      ></ion-back-button>
    </ion-buttons>
    <div class="toolbar-content">
      <p class="title">Guide</p>
      <p class="subtitle">Container type</p>
    </div>
  </div>
  <div class="body-container">
    <div class="container--m" id="yellow" (click)="openNewPage('plastic')">
      <p class="text">Yellow Container</p>
      <img class="img" src="../../assets/img/plastic.png" alt="img yeloww" />
    </div>
    <div class="container--m" id="blue" (click)="openNewPage('paper')">
      <img class="img" src="../../assets/img/paper.png" alt="img blue" />
      <p class="text">Blue Container</p>
    </div>

    <div class="container--m" id="green" (click)="openNewPage('glass')">
      <p class="text">Green Container</p>
      <img class="img" src="../../assets/img/glass.png" alt="img green" />
    </div>
    <div class="container--m" id="grey" (click)="openNewPage('organic')">
      <img class="img" src="../../assets/img/organic.png" alt="img grey" />
      <p class="text">Grey Container</p>
    </div>
  </div>
</ion-content>
