<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 2 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="body-container">
    <div class="container--l" id="by-container">
      <p>Guide By container type</p>
      <img />
    </div>
    <div class="container--l" id="by-waste">
      <p>Guide By waste type</p>
      <img />
    </div>
  </div>
</ion-content>
