@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --green: #7ed07e;
  --light-grey: #d9d9d9;
}

.body-container {
  display: flex;
  flex-direction: column;
  height: 92%;
  justify-content: center;
  gap: 20px;
  margin: 20px;
}

.container--l {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  color: black;

  border-radius: 15px;
  padding: 10px;
}

#by-container {
  background-color: #7ed07e;
}

#by-waste {
  background-color: #d9d9d9;
}
