<ion-content [fullscreen]="true" class="page">
  <div class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        class="button"
        defaultHref="/"
        (click)="returnPage()"
      ></ion-back-button>
    </ion-buttons>
    <div class="toolbar-content">
      <p class="title">Guide</p>
      <p class="subtitle">Grey Container</p>
    </div>
  </div>
  <div class="body-container">
    <header>
      <h1>Organic Material</h1>
    </header>

    <section>
      <h2>Introduction</h2>
      <p>
        Welcome to our recycling guide on organic material! Recycling organic
        waste is essential for reducing greenhouse gas emissions and promoting
        soil health. Let's explore how you can recycle organic material
        effectively.
      </p>
    </section>

    <section>
      <h2>Why Recycle Organic Material?</h2>
      <p>
        Organic material recycling helps divert waste from landfills, where it
        would otherwise decompose and release methane, a potent greenhouse gas.
        Recycling organic waste also enriches soil health by providing nutrients
        for plants and promoting microbial activity.
      </p>
    </section>

    <section>
      <h2>How to Recycle Organic Material</h2>
      <p>Follow these steps to recycle organic material:</p>
      <ol>
        <li>
          Collect food scraps, yard waste, and other organic materials in a
          compost bin or pile.
        </li>
        <li>
          Aerate the compost regularly to promote decomposition and prevent
          odor.
        </li>
        <li>
          Avoid adding meat, dairy, and oily foods to your compost to prevent
          pests and odor issues.
        </li>
        <li>
          Monitor the moisture levels of your compost and adjust as needed to
          maintain proper decomposition.
        </li>
        <li>
          Once your compost is dark, crumbly, and earthy-smelling, it's ready to
          use in your garden or landscaping projects.
        </li>
      </ol>
    </section>

    <section>
      <h2>Examples of Recyclable Organic Material</h2>
      <ul>
        <li>Fruit and vegetable scraps</li>
        <li>Eggshells and coffee grounds</li>
        <li>Grass clippings and leaves</li>
        <li>Wood chips and sawdust</li>
        <li>Paper napkins and cardboard</li>
      </ul>
    </section>
  </div></ion-content
>
