<div class="map-container">
  <div class="map-frame">
    <div class="search-bar">
        <input list="results" type="search" [(ngModel)]="searchValue" (change)="onSubmit()" (ngModelChange)="formUpdate()" style="background-color: white;" >
        <datalist id="results">
          <option *ngFor="let result of results" [value]="result.label"></option>
        </datalist>
        <img class="search-icon" src="../../../assets/searchIcon.svg">
    </div>
    
    <div id="map"></div>
  </div>
</div>
