<ion-content [fullscreen]="true" class="page">
  <div class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        class="button"
        defaultHref="/"
        (click)="returnPage()"
      ></ion-back-button>
    </ion-buttons>
    <div class="toolbar-content">
      <p class="title">Guide</p>
      <p class="subtitle">Green Container</p>
    </div>
  </div>
  <div class="body-container">
    <header>
      <h1>Recyclable Materials</h1>
    </header>

    <section>
      <h2>Introduction</h2>
      <p>
        Welcome to our recycling guide on recyclable materials! Recycling plays
        a crucial role in reducing waste and conserving resources. Let's explore
        how you can recycle various materials effectively.
      </p>
    </section>

    <section>
      <h2>Why Recycle?</h2>
      <p>
        Recycling helps conserve natural resources, reduce energy consumption,
        and minimize pollution. By recycling materials, you can contribute to a
        cleaner environment and a more sustainable future.
      </p>
    </section>

    <section>
      <h2>How to Recycle Recyclable Materials</h2>
      <p>Follow these general steps to recycle recyclable materials:</p>
      <ol>
        <li>
          Separate materials by type (e.g., paper, plastic, glass, metal) to
          facilitate recycling.
        </li>
        <li>
          Check with your local recycling program to see which materials they
          accept and how they should be prepared for recycling.
        </li>
        <li>
          Clean and dry recyclable materials to prevent contamination and ensure
          they can be processed efficiently.
        </li>
        <li>
          Remove any non-recyclable components, such as caps, lids, and food
          residues, before recycling.
        </li>
        <li>
          Place recyclable materials in the designated recycling bin or take
          them to a recycling center.
        </li>
      </ol>
    </section>

    <section>
      <h2>Examples of Recyclable Materials</h2>
      <p>Common types of recyclable materials include:</p>
      <ul>
        <li>Paper and cardboard</li>
        <li>Plastics (PET, HDPE, PP, LDPE, PS, etc.)</li>
        <li>Glass (clear, green, brown)</li>
        <li>Metal (aluminum, steel, tin)</li>
        <li>Organic waste (food scraps, yard waste)</li>
      </ul>
    </section>
  </div></ion-content
>
