<ion-content [fullscreen]="true" class="page">
  <div class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        class="button"
        defaultHref="/"
        (click)="returnPage()"
      ></ion-back-button>
    </ion-buttons>
    <div class="toolbar-content">
      <p class="title">Guide</p>
      <p class="subtitle">Grey Container</p>
    </div>
  </div>
  <div class="body-container">
    <header>
      <h1>Mixed Waste</h1>
    </header>

    <section>
      <h2>Introduction</h2>
      <p>
        Welcome to our recycling guide on mixed waste! While recycling is
        important, some materials may not be easily recyclable or require
        special handling. Let's explore how to manage mixed waste effectively.
      </p>
    </section>

    <section>
      <h2>Challenges with Mixed Waste</h2>
      <p>
        Mixed waste poses challenges for recycling because it contains a
        combination of materials that may include recyclable, non-recyclable,
        and hazardous items. Improper disposal of mixed waste can lead to
        environmental pollution and health risks.
      </p>
    </section>

    <section>
      <h2>How to Manage Mixed Waste</h2>
      <p>Follow these steps to manage mixed waste responsibly:</p>
      <ol>
        <li>
          Reduce waste generation by practicing waste minimization techniques,
          such as avoiding single-use items and choosing reusable alternatives.
        </li>
        <li>
          Separate recyclable materials from non-recyclable waste whenever
          possible.
        </li>
        <li>
          Dispose of hazardous materials, such as batteries, electronics, and
          chemicals, at designated collection sites or hazardous waste
          facilities.
        </li>
        <li>
          Use composting for organic waste to divert it from landfills and
          create valuable compost for soil enrichment.
        </li>
        <li>
          Properly dispose of non-recyclable waste in trash bins or dumpsters,
          following local regulations and guidelines.
        </li>
      </ol>
    </section>
  </div></ion-content
>
