<ion-content [fullscreen]="true" class="page">
  <div class="toolbar">
    <ion-buttons slot="start">
      <ion-back-button
        class="button"
        defaultHref="/"
        (click)="returnPage()"
      ></ion-back-button>
    </ion-buttons>
    <div class="toolbar-content">
      <p class="title">Guide</p>
      <p class="subtitle">Yellow Container</p>
    </div>
  </div>
  <div class="body-container">
    <header>
      <h1>Plastics</h1>
    </header>

    <section>
      <h2>Introduction</h2>
      <p>
        Welcome to our recycling guide on plastics! Recycling plastics is
        crucial for reducing plastic pollution and conserving resources. Let's
        explore how you can recycle plastics effectively.
      </p>
    </section>

    <section>
      <h2>Why Recycle Plastics?</h2>
      <p>
        Plastic recycling helps prevent plastic pollution in oceans and
        landfills, conserves energy, and reduces the need for virgin plastic
        production. By recycling plastics, you can contribute to a cleaner
        environment and a more sustainable future.
      </p>
    </section>

    <section>
      <h2>How to Recycle Plastics</h2>
      <p>Follow these steps to recycle plastics:</p>
      <ol>
        <li>
          Identify the type of plastic using the resin identification code (RIC)
          usually found on the bottom of plastic containers.
        </li>
        <li>
          Check with your local recycling program to see which types of plastics
          they accept. Not all plastics are recyclable in every area.
        </li>
        <li>
          Clean and dry your plastic containers before recycling to prevent
          contamination.
        </li>
        <li>
          Remove any non-recyclable components, such as caps and labels, unless
          otherwise specified by your recycling program.
        </li>
        <li>
          Place your recyclable plastics in the designated recycling bin or take
          them to a recycling center.
        </li>
      </ol>
    </section>

    <section>
      <h2>Examples of Recyclable Plastics</h2>
      <p>Common types of recyclable plastics include:</p>
      <ul>
        <li>
          PET (Polyethylene Terephthalate) - Used in water bottles and food
          containers.
        </li>
        <li>
          HDPE (High-Density Polyethylene) - Used in milk jugs, detergent
          bottles, and plastic bags.
        </li>
        <li>
          PP (Polypropylene) - Used in yogurt containers, bottle caps, and
          straws.
        </li>
        <li>
          LDPE (Low-Density Polyethylene) - Used in plastic wraps and bags.
        </li>
        <li>PS (Polystyrene) - Used in foam packaging and disposable cups.</li>
        <li>
          Other - Includes miscellaneous plastics such as polycarbonate (PC) and
          polylactic acid (PLA).
        </li>
      </ul>
    </section>
  </div>
</ion-content>
